@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-Medium.ttf"); font-weight: 500; }
@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-Black.ttf"); font-weight: 600; }
@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-BlackItalic.ttf"); font-weight: 600; font-style: italic; }
@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-Regular.ttf"); font-weight: normal; }
@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-Light.ttf"); font-weight: 200; }
@font-face { font-family: "lato"; src: url("../fonts/lato/Lato-Bold.ttf"); font-weight: bold; }
