@font-face { font-family: "latobold"; src: url("../fonts/latobold.ttf"); }
@font-face { font-family: "latoregular"; src: url("../fonts/latoregular.ttf"); }
@font-face { font-family: "latolight"; src: url("../fonts/latolight.ttf"); }
@font-face { font-family: "latoheavy"; src: url("../fonts/latoheavy.ttf"); }
@font-face { font-family: "latosemibold"; src: url("../fonts/latosemibold.ttf"); }
@font-face { font-family: "happyfoxcondensed"; src: url("../fonts/HappyFoxCondensed.ttf"); }
@font-face { font-family: "HelveticaCECond"; src: url("../fonts/HelveticaCE-Cond.otf"); }
@font-face { font-family: "latomedium"; src: url("../fonts/LatoMedium.ttf"); }
@font-face { font-family: "latoblack"; src: url("../fonts/LatoBlack.ttf"); }
@font-face { font-family: "latoblackitalic"; src: url("../fonts/LatoBlackItalic.ttf"); }
